.base-field {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.base-field__required {
  color: #ef4444;
  margin-left: 2px;
  font-size: var(--font-size-xs);
}

.base-field__error {
  font-size: var(--font-size-xs);
  color: #ef4444;
  margin: 0;
}