@import "./reset";
@import "./tokens";
@import "./mixins";

body {
  margin: 0;
  font-family: var(--font-family-main);
  background-color: var(--color-bg);
  color: var(--color-text);
}

.app-container {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: var(--space-4);
}
